.navbar {
  background-color: #2c5f2d !important; /* Override Bootstrap */
  padding: 25px !important;
}

.navbarBrand,
.navLink,
.dropdownToggle {
  color: white !important;
}

.navbarTogglerIcon {
  background-color: white !important;
}

@media (min-width: 992px) {
  .navLink {
    border: 2px solid white !important;
    margin-right: 30px !important;
  }
  .navLink:hover {
    background-color: #97BC62 !important;
  }
}

.navbarBrand {
  font-size: 30px !important;
}
